.shadowBox form {
  width: 100%;
  background-color: #fff;
  border: 1px solid #b1c3e6;
  box-sizing: border-box;
  border-radius: 8px;
  padding: clamp(28px, 4vw, 38px) clamp(38px, 4vw, 48px);

  display: flex;
  flex-direction: column;
}
