.checkbox {
  appearance: none;

  width: 24px;
  height: 24px;

  border: 1px solid #a1b5e8;
  border-radius: 4px;

  &:hover {
    border: 1px solid #4574f6;
  }

  &:checked {
    background-color: #4574f6;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='14' height='10' viewBox='0 0 14 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.3337 1L5.00033 8.33333L1.66699 5' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  }
}

.disabled {
  border: 1px solid #E9F0FF;

  &:hover {
    border:  1px solid #E9F0FF;
  }

  &:checked {
    background-color: #E9F0FF;
    background-image: url("data:image/svg+xml,%3Csvg width='14' height='10' viewBox='0 0 14 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.3337 1L5.00033 8.33333L1.66699 5' stroke='%23B1C3E6' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  }
}
