.authForm {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  font-family: 'Gotham Pro Regular';
  font-size: 36px;
  line-height: 42px;
  color: #000000;
}
