.authForm {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  width: 471px;
  height: 547px;
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(129, 129, 129, 0.25);

  & h1 {
    font-family: 'Gotham Pro Medium';
    font-weight: 500;
    font-size: 36px;
    text-align: center;
    margin: 0;
    margin-top: 56px;
  }

  & a {
    font-family: 'Gotham Pro Regular';
    font-size: 12px;
    color: #000000;
    margin-left: 64px;
  }
}

.inputs {
  display: flex;
  flex-wrap: wrap;
  margin: 0 64px;

  & input {
    background: #ffffff;
    border: 1px solid #828282;
    box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07);
    border-radius: 6px;
    padding: 12px 16px;
    width: 343px;

    &:focus {
      outline: none;
    }
  }
}

.email {
  margin-top: 48px;
}

.password {
  margin-top: 16px;
  margin-bottom: 8px;
}

.label {
  display: flex;
  align-items: center;
  margin-top: 12px;
  margin-left: 64px;

  & > input[type='checkbox'] {
    appearance: none;
    width: 24px;
    height: 24px;
    border: 2px solid #a1b5e8;
    box-sizing: border-box;
    box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.07);
    border-radius: 6px;

    transition: all 200ms;
    transition-property: background-color, background-image;

    &:hover {
      border: 2px solid #4574F6;
    }

    &:checked {
      background-position: center;
      background-repeat: no-repeat;
      background-color: #4574F6;
      border: 2px solid #4574F6;
      background-image: url("data:image/svg+xml,%3Csvg width='14' height='10' viewBox='0 0 14 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.3337 1L5.00033 8.33333L1.66699 5' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    }
  }

  & > span {
    font-family: 'Gotham Pro Regular';
    font-size: 12px;
    color: #000000;
    margin-left: 8px;
  }
}

.button {
  font-family: 'Gotham Pro Medium';
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;

  border-radius: 6px;
  border: none;
  background: #4574f6;
  border: solid 4px #4574f6;
  margin: 0 64px;
  margin-top: 24px;
  padding: 12px 14px;
  width: 343px;

  transition: all 200ms;

  &:hover {
    background: #1c54e5;
    border: solid 4px #1c54e5;
  }

  &:focus {
    border: solid 4px #1c54e5;
    background: #4574f6;
  }
}

.register {
  margin: 0 64px;
  margin-top: 48px;
  text-align: center;
  font-family: 'Gotham Pro Regular';

  & > p {
    margin-bottom: 4px;
  }
  & > a {
    margin: 0;
    font-size: 16px;
  }
}
