.header {
  position: fixed;
  height: 85px;
  width: 100%;
  background-color: #f2f2f2;
}

.wrapper {
  margin: 0 53px;
  height: inherit;
  display: inline-flex;
  align-items: center;

  & > img {
    cursor: pointer;
    margin-right: 20px;
  }

  & > div {
    font-family: 'Gotham Pro Regular';
    font-size: 21px;
  }
}
