.footer {
  height: 80px;
  width: 100%;
  border-top: 1px solid #E0E0E0;
  background-color: #FFFF;
  display: flex;
  position: fixed;
  left: 0;
  bottom: 0;
  justify-content: space-between;
  align-items: center;
  padding: 0 clamp(10px, 6vw, 100px);
}